*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	background: black;
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

//nav======================================================================================================================================
.logo {
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 50px;
		animation: rotate-left 25s infinite linear;
	}
	p {
		padding: 0 1.3em;
	}
}
nav {
	// position: absolute;
	position: fixed;
	z-index: 1000;
	width: 100%;
	padding: 0.9rem 0;
	top: 0;
	left: 0;
	// border-bottom: 1px solid rgba(255, 255, 255, 0.712);
}
nav .nav-box {
	background-color: rgb(67, 186, 255);
	// background-color: red;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0.2em 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-box ul {
	display: flex;
	list-style: none;
	align-items: center;
}
nav ul a {
	text-decoration: none;
	// color: rgb(67, 186, 255);
	-webkit-text-stroke: 1px rgb(0, 0, 0);
	// -webkit-text-stroke: 1px white;

	color: transparent;
	padding: 0 1.5rem;
	// text-transform: uppercase;
	font-weight: 400;
	font-size: 3rem;
}
.nav-mobile {
	display: none;
}

.hamburger:hover + .wrap,
.wrap:hover {
	transform: scale(0.8) translateZ(0px);
	opacity: 1;
}
// ta linijka zakomentowana dla ciekawego efektu przy kliknięciu
// .burger:hover + .wrap a,
.wrap:hover a {
	transform: scale(1) translateZ(0px);
}
a:hover div {
	opacity: 1;
	transform: translateZ(0px);
}
.wrap {
	width: 100vmin;
	height: 100vmin;

	// width: 100%;height: 100%;
	background: inherit;
	// background-image: url('/dist/img/bg/_c056dc35-2977-49f7-a0a6-a14f4b2ae538.jpeg');
	transform: scale(0.2) translateZ(0px);
	opacity: 0.7;
	transition: transform 0.5s, opacity 0.5s;
	margin: 0 auto;
}
a {
	position: absolute;
	width: 47.5%;
	height: 47.5%;
	transform: scale(0.5) translateZ(0px);
}
a div {
	height: 100%;
	background-size: cover;
	opacity: 0.4;
	transition: opacity 0.5s;
	border-radius: inherit;
}
/* //============================================================================================ */
a:nth-child(1) {
	border-radius: 40vmin 0 0 0;
	transform-origin: 110% 110%;
	transition: transform 0.4s 0.15s;
}
a:nth-child(1) div {
	background-image: url('/dist/img/bg/backgrounds-8436628_1920.jpg');
}
/* ====================================================================================================== */
a:nth-child(2) {
	border-radius: 0 40vmin 0 0;
	left: 52.5%;
	transform-origin: -10% 110%;
	transition: transform 0.4s 0.2s;
}
a:nth-child(2) div {
	background-image: url('/dist/img/bg/backgrounds-8436628_640.jpg');
}
/* =================================================================================================== */
a:nth-child(3) {
	border-radius: 0 0 0 40vmin;
	top: 52.5%;
	transform-origin: 110% -10%;
	transition: transform 0.4s 0.25s;
}
a:nth-child(3) div {
	background-image: url('/dist/img/bg/circle-3041437.jpg');
}
/* ================================================================================================== */
a:nth-child(4) {
	border-radius: 0 0 40vmin 0;
	top: 52.5%;
	left: 52.5%;
	transform-origin: -10% -10%;
	transition: transform 0.4s 0.3s;
}
a:nth-child(4) div {
	background-image: url('/dist/img/bg/backgrounds-8436687_1280.jpg');
}

a:nth-child(5) {
	border-radius: 50vmin;
	width: 55%;
	height: 55%;
	top: 22.5%;
	left: 22.5%;
	transform-origin: -10% -10%;
	transform: scale(1);
	box-shadow: 0 0 0 5vmin #e3dfd2;
}
a:nth-child(5) div {
	background-image: url('/dist/img/bg/drawing-6859616_1280.png');
}
// .burger {
// 	display: none;
// 	padding-left: 1.5rem;
// }
// .hamburger {
// 	display: none;
// 	padding-left: 1.5rem;
// }
// .hamburger .burger {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	padding: 0;
// 	width: 37px;
// 	height: 37px;
// 	border-radius: 50%;
// 	background-color: rgb(0, 0, 0);
// 	backdrop-filter: blur(10px);
// 	-webkit-backdrop-filter: blur(10px);
// }
// .hamburger .bar {
// 	position: relative;
// 	width: 52%;
// 	height: 1.3px;
// 	background-color: rgb(67, 186, 255);
// 	// background-color: #fff;
// 	border-radius: 1px;
// }
// .hamburger .bar::before,
// .hamburger .bar::after {
// 	content: '';
// 	position: absolute;
// 	left: 50%;
// 	transform: translateX(-50%);
// 	width: 60%;
// 	height: 100%;
// 	background-color: inherit;
// 	border-radius: 2px;
// }
// .hamburger .bar::before {
// 	top: -4.5px;
// }
// .hamburger .bar::after {
// 	top: 4.5px;
// }
// ======================================================================================================

//oczojebne efekty===================================================================
.parallax {
	position: relative;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	overflow: hidden;
}
.parallax-item {
	overflow: hidden;

	position: absolute;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.item-one {
	width: 110%;
	z-index: 2;
	top: 56%;
	left: 60%;
	opacity: 0.7;
	// animation: rotate-left 55s infinite;
	// opacity: 0.3;
	// scale: 0.3;
}
@keyframes rotate-left {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}
.item-two {
	top: 50%;
	left: 50%;
	aspect-ratio: 16/9;
	width: 240%;
	// height: 200%;
	opacity: 1;
	z-index: 1;
	position: absolute;
	object-fit: fill;
	pointer-events: none;
	transform: translate(-50%, -50%);
	// transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}
.item-three {
	top: 70%;
	left: 77%;
	width: 300px;
	opacity: 1;
	z-index: 3;
}
.item-four {
	top: 56%;
	left: 50%;
	width: 500px;
	opacity: 1;
	z-index: 4;
	// scale: 0.7;
}
// .item-five {
// 	display: none;
// 	top: 66%;
// 	left: 30%;
// 	width: 1100px;
// 	// opacity: 0.6;
// 	z-index: 5;
// 	// scale: 0.7;
// }
.text {
	z-index: 6;
	// color: white;
	top: 50%;
	left: 50%;
	text-align: right;
	// color: white;
	// color: rgb(67, 186, 255);
	// color: red;
	// color: transparent;
	// -webkit-text-stroke: 1px white;
	// -webkit-text-stroke: 1px gold;
	// -webkit-text-stroke: 1px orange;
	// -webkit-text-stroke: 1px orangered;
	-webkit-text-stroke: 1px rgb(67, 186, 255);
	// -webkit-text-stroke: 1px white;
	-webkit-text-stroke: 1px red;
	// -webkit-text-stroke: 1px rgb(255, 251, 0);
	// -webkit-text-stroke: 1px rgb(49, 103, 250);
	// -webkit-text-stroke: 1px rgb(145, 255, 0);
	// mix-blend-mode: difference;
	overflow: hidden;

	h1 {
		font-size: 8rem;
	}
	h2 {
		font-size: 5rem;
	}
}

// .vignette {
// 	z-index: 100;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	background: radial-gradient(ellipse at center, rgba(223, 223, 223, 0) 65%, rgba(228, 5, 5, 0.7));
// 	pointer-events: none;
// 	/* background-color: red; */
// }

//====================================================================================================================
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
section {
	// margin: 10em 0;
	padding: 10em 0;
}
.section-title {
	position: relative;
	margin: 0 auto 2em;
	font-size: 6.2rem;
	color: transparent;
	font-weight: 400;
	width: fit-content;
	-webkit-text-stroke: 1px rgb(67, 186, 255);
	// -webkit-text-stroke: 1px gold;
	&::before {
		position: absolute;
		bottom: -0.1em;
		right: 0;
		width: 40px;
		height: 2px;
		background-color: blue;
		content: '';
	}
	// span {
	// 	font-weight: 900;
	// }
}
.about-us {
	overflow: hidden;
	margin: 20em 0;
	// padding: 20em 0;
	// padding: 4em 0.2em;
	.wrapper {
		background-image: url('/dist/img/bg/backgrounds-8436628_1920.jpg');
		background-size: cover;
		background-position: center;

		.about {
			height: 100%;
			padding: 6em 0;
			// margin: 2em 0;
			// width: 100%;
			// height: 100%;
			// overflow: hidden;
			// position: relative;
			.about-us-box {
				// padding: 4em;
				// width: 100%;
				// height: 100%;
				margin: 2em;
				background: red;
				display: flex;
				align-items: center;
				justify-content: center;
				// flex-direction: column;
				// display: grid;
				// grid-template-columns: repeat(2, 1fr);
				// align-items: center;
				// overflow: hidden;
				.about-us-img {
					height: 100%;
					// margin: 2em 0.5em;
					// display: flex;
					// position: absolute;
					img {
						margin: 0.2em 0.2em;
						padding: 1em;
						width: 100%;
						max-width: 500px;
					}
				}
				.about-us-text {
					// margin:6em;
					// padding: 1em;
					// border: 1px solid blue;
					// padding: 6em;
					// background: red;
					// display: flex;
					.text-title {
						padding: 1em;
						margin: 1em 0.2em 0;

						// color: gold;
						font-size: 3rem;
						letter-spacing: 4px;
					}
					.text-box {
						// padding: 1em;
						font-weight: normal;
						font-size: 2.2rem;
						margin: 0 0.2em 0.5em 0.2em;
						// letter-spacing: 1px;
					}
					p {
						padding: 0.7em 1em;
						width: 100%;
						max-width: 500px;
						color: white;
					}
				}
			}
		}
	}
}
.projects {
	overflow: hidden;
	margin: 20em 0;
	// padding: 4em 0.2em;
	.wrapper {
		// background-image: url('/dist/img/bg/backgrounds-8436628_1920.jpg');
		background: #000;
		background-size: cover;
		background-position: center;
		.projects-main {
			height: 100%;
			padding: 6em 0;
			// margin: 2em 0;
			// width: 100%;
			// height: 100%;
			// overflow: hidden;
			// position: relative;
			.projects-img {
				// margin: 2em 0.5em;
				// display: flex;
				// position: absolute;
				img {
					height: 300px;
					width: 100%;
					margin: 0.2em 0;
					padding: 1em 0;
					object-position: center;
					object-fit: cover;
					max-width: 1200px;
				}
			}
			.projects-box {
				// width: 100%;
				// height: 100%;
				margin: 2em;
				// background: red;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				// display: grid;
				// grid-template-columns: repeat(2, 1fr);
				// align-items: center;
				// overflow: hidden;
				.projects-img {
					// margin: 2em 0.5em;
					// display: flex;
					// position: absolute;
					img {
						margin: 0.2em 0.2em;
						padding: 1em;
						object-position: center;
						// max-width: 500px;
					}
				}
				.projects-text {
					// display: flex;
					.projects-text-title {
						padding: 1em;
						margin: 1em 0.2em 0;
						// color: gold;
						font-size: 3rem;
						letter-spacing: 4px;
					}
					.projects-text-box {
						font-weight: normal;
						font-size: 2.2rem;
						margin: 0 0.2em 0.5em 0.2em;
						// letter-spacing: 1px;
					}
					p {
						padding: 1em;
						width: 100%;
						max-width: 500px;
						color: white;
					}
				}
			}
		}
	}
}
.showoff {
	// background: red;
	// width: 100%;
	// height: 100%;
	position: relative;

	// padding: 10em;
	.showoff-bgimg {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		// transform: rotate3d(1, 1, 1, 95deg);
		img {
			position: absolute;
			object-position: center;
			// object-position: left;
			top: 0;
			height: 100%;
			opacity: 0.3;
			animation: rotate-left 50s infinite linear;
		}
	}
	&__boxes {
		padding: 20em 0;
		display: flex;
		// align-items: center;
		// justify-content: center;
		// justify-content: space-between;
		justify-content: space-evenly;
		&--box {
			display: flex;
			flex-direction: column;
			width: 40%;
			padding: 8em 1em;
			// overflow: hidden;
			// border:1px solid blue;
			// height: 100%;
			// margin: 4em;
			// align-items: center;
			// background-color: #fff;

			.box-text {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding: 4em 1.8em;
				background: red;
				color: white;
				.show-offtitle {
					font-size: 3rem;
					margin-bottom: 1em;
				}
				.show-offtext {
					font-weight: normal;
					font-size: 2.2rem;
					margin-bottom: 1em;
				}
				a {
					font-size: 2.4rem;
					margin-top: auto;
					color: white;
					// color: #000;
				}
			}
			img {
				// object-fit: cover;
				border: 1px solid rgb(67, 186, 255);
				// position: absolute;
				// top: 0;
				// left: 0;
				// width: 100%;
				// height: 500px;
				// height: 90%;
				// overflow: hidden;
			}
		}
	}
}

.contact {
	.contact-section {
		display: flex;
		justify-content: center;
		// align-items: center;
		// align-items: end;
		// align-items: baseline;
		// justify-content: space-between;
		// justify-content: baseline;
		// margin: 2em;
		padding: 4em;

		.form-box {
			padding: 2em;
			width: 100%;
			display: flex;
			justify-content: center;
			// align-items: center;
			flex-direction: column;
			// min-height: 100vh;
			// background-color: #333;
			// font-family: Arial, Helvetica, sans-serif;
			.contact-form {
				padding: 30px;
				max-width: 600px;
				background-color: transparent;
				// background-color: red;
				// border-radius: 24px;
			}
			.contact-box {
				display: flex;
				flex-direction: column;
				margin: 40px 0;
			}
			.contact-form label {
				// color: white;
				color: #828282;
				font-size: 22px;
				font-weight: normal;
				margin-bottom: 10px;
			}
			.contact-form input,
			.contact-form textarea,
			.contact-form button {
				color: white;
				color: #828282;
				color: rgb(67, 186, 255);
				background: #000;
				padding: 5px;
				font-size: 2rem;
				// font-family: inherit;
				font-family: 'Syne', sans-serif;
				// font-weight: 800;
				// border: 2px solid hsl(0, 0%, 67%);
				// border-radius: 12px;
				background-color: transparent;
				border: 0;
				border-bottom: 2px solid #828282;
				border-bottom: 2px solid red;
			}
			.contact-form textarea {
				resize: vertical;
				min-height: 150px;
			}
			input:focus,
			textarea:focus {
				outline: 1px solid #828282;
				outline: 1px solid red;
			}
			.contact-form button {
				// padding: 12px;
				width: 100%;
				background-color: rgb(67, 186, 255);
				// cursor: pointer;
				// background-color: #545557;
				padding: 15px 0;
				color: white;
				color: #000;
				// color: red;
				font-size: 18px;
				border-bottom: none;
				margin-top: 30px;
				cursor: pointer;
			}
			.contact-form button:hover {
				color: white;
				// background-color: red;
				background-color: black;
				outline: 1px solid red;

				// color: rgb(67, 186, 255);
				// background-color: black;
			}
			.msg-status {
				display: none;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 50px;
				padding: 30px;
				max-width: 600px;
				// border-radius: 12px;
				font-size: 24px;
			}
			.success {
				display: flex;
				background-color: hsl(143, 83%, 55%);
			}
			.error {
				display: flex;
				background-color: hsl(9, 100%, 64%);
			}
			input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus input:-webkit-autofill,
			textarea:-webkit-autofill,
			textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
			select:-webkit-autofill,
			select:-webkit-autofill:hover,
			select:-webkit-autofill:focus {
				-webkit-text-fill-color: rgb(67, 186, 255); //możesz skorzystać, ale nie musisz
				// -webkit-box-shadow: 0 0 0px 1000px #000 inset;
				transition: background-color 5000s ease-in-out 0s;
			}
		}

		.contact-media {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// padding: 4em;
			// margin: 2em;
			// align-items: center;
			// justify-content: flex-end;
			width: 100%;
			// min-height: 100vh;
			// padding: 0 10em;
			max-width: 600px;
			// margin:0 4em;
			// margin-left: auto;
			// overflow-x: hidden;
			P {
				&:nth-of-type(n) {
					color: black;
					font-weight: 800;
					-webkit-text-stroke: 1px red;
				}
				// background: blue;
				&:nth-child(1) {
					// color: black;
					font-size: 3rem;
					text-align: left;
					// transform: rotate3d(1, 1, 1, 45deg);
				}
				&:nth-child(2) {
					// color: red;
					// font-weight: 800;
					font-size: 4rem;
					text-align: right;
					// -webkit-text-stroke: 1px red;
				}
				&:nth-child(3) {
					margin-top: 1em;
					// color: black;
					// font-weight: 800;
					font-size: 8rem;
					text-align: left;
					// -webkit-text-stroke: 1px red;
				}
				&:nth-child(4) {
					// color: black;
					// font-weight: 800;
					font-size: 8rem;
					text-align: center;
					// -webkit-text-stroke: 1px red;
				}
				&:nth-child(5) {
					// color: black;
					// font-weight: 800;
					font-size: 8rem;
					text-align: right;
					// -webkit-text-stroke: 1px red;
				}
			}
		}
	}
	.contact-info {
		// width: 100%;
		background-color: red;
		color: white;
	}
}
@media (min-width: 726px) {
	.hamburger {
		display: none;
	}
	.wrap {
		display: none;
	}
}
@media (max-width: 725px) {
	.nav-link {
		display: none;
	}

	//============================================================================================================================================================================

	.item-two {
		// overflow: hidden;
		width: initial + 40%;
		width: initial;
		aspect-ratio: 16/9;
		height: 100% + 60%;
	}
	.item-one {
		width: 160%;
		z-index: 2;
		top: 56%;
		left: 60%;
		// opacity: 0.5;
		// scale: 0.7;
	}
	// .item-two {
	//     top: 0;
	//     left: 0;
	//     width: 100%;
	//     height: 100%;
	//     opacity: 0.5;
	//     z-index: 2;
	// }
	.item-three {
		top: 33%;
		left: 67%;
		width: 330px;
		opacity: 1;
		z-index: 3;
	}
	.item-four {
		top: 66%;
		left: 50%;
		width: 270px;
		opacity: 1;
		z-index: 4;
		// scale: 0.7;
	}
	// .item-five {
	// 	display: none;
	// 	top: 66%;
	// 	left: 30%;
	// 	width: 1100px;
	// 	// opacity: 0.6;
	// 	z-index: 5;
	// 	// scale: 0.7;
	// }
	.text {
		z-index: 5;

		h1 {
			font-size: 6rem;
		}
		h2 {
			font-size: 4rem;
		}
	}
	.about-us-box {
		flex-direction: column;
	}
	.showoff {
		.showoff-bgimg {
			img {
				top: 0;
				left: -420%;
				// left: -160%;
				// width: 660%;
				height: 100%;
			}
		}
		&__boxes {
			// padding: 1em 0;
			flex-direction: column;
			&--box {
				padding: 10em 2em;
				width: 100%;
			}
		}
	}
	.contact {
		.contact-section {
			padding: 2em;
			flex-direction: column;
			// justify-content: inherit;
			// justify-content: baseline;
			.form-box {
				padding: 2em 0;
			}
			.contact-media {
				// width: 100%;
				padding: 20em 0;
				// max-width: 600px;

				// overflow: hidden;
				P {
					// background: blue;
					&:nth-child(1) {
						// color: black;
						// font-weight: 800;
						font-size: 2rem;
						text-align: left;
						// -webkit-text-stroke: 1px red;
						// transform: rotate3d(1, 1, 1, 45deg);
					}
					&:nth-child(2) {
						// color: red;
						// font-weight: 800;
						font-size: 3rem;
						// text-align: right;
						// -webkit-text-stroke: 1px red;
					}
					&:nth-child(3) {
						margin-top: 1em;
						// color: black;
						// font-weight: 800;
						// font-size: 10rem;
						text-align: center;
						// -webkit-text-stroke: 1px red;
					}
					// &:nth-child(4) {
					// 	// color: black;
					// 	// font-weight: 800;
					// 	// font-size: 10rem;
					// 	// text-align: center;
					// 	// -webkit-text-stroke: 1px red;
					// }
					&:nth-child(5) {
						// color: black;
						// font-weight: 800;
						// font-size: 10rem;
						text-align: center;
						// -webkit-text-stroke: 1px red;
					}
				}
			}
		}
	}
	.none {
		display: none;
	}
	.wrap-block {
		display: block;
	}
	.sticky-body {
		overflow: hidden;
	}
}
